<%- include('partials/head') %>
<body>
        <% users.forEach(function(user) { %>
            <div class="row">
                <a href="http://localhost:5000/profile/<%= user.id %>">
                <div class="col s2">
                  <div class="card">
                    <div class="card-image">
                      <img src="/images/<%= user.image %>">

                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <span class="card-title"><%= user.name %> <%= user.surname %></span>
                        </div>
                      <p>
                        <%= user.email %>
                      </p>
                    </div>
                  </div>
                </div>
            </a>
              </div>
        <% }) %>
        <ul class="pagination">
            <% for(let i = 1; i <= pages; i++) { %>
                <li class="<%= +pageNumber === i ? 'active ' : 'waves-effect' %>"><a href="http://localhost:5000/profile?page=<%= i %>"><%= i %></a></li>
            <% } %>
        </ul>
</body>
</html>